*{
  margin: 0px;
  padding: 0px;
  /* font-size: 16px; */
  /* width: 320px; */
}
body{
  background-color: rgb(231, 216, 201);
}
.container{
  /* border: black dotted; */
  /* background-color: pink; */
  margin: 2vh 2vh;
  /* font-size: 9px; */
}
.header-container{
  display: flex;
  flex-direction: column;
  /* align-content: center; */
}
.title{
  /* border: red solid; */
  text-align: center;
}
.subtitle{
  /* border: red solid; */
  text-align: center;
}
.board-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.board{
  border: rgb(230, 209, 227) solid;
  width: 32vh;
  /* width: 16rem; */
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.button{
  border: black solid ;
  height: 15vh;
  /* width: 15vh; */
  width: unset;  
  opacity: 60%;
}
/* .button:hover{
  opacity: 100%;
  background-color: white;
} */

.button-1{
  background-color: rgba(34, 255, 0, 0.925);
  border-radius: 100% 0 0 0;
  grid-column: 1/2;
  grid-row: 1/2;
}
.button-2{
  background-color: rgb(255, 35, 35);
  border-radius: 0 100% 0 0;
  grid-column: 2/3;
  grid-row: 1/2;

}
.button-3{
  background-color: yellow;
  border-radius: 0 0 0 100%;
  grid-column: 1/2;
  grid-row: 2/3;
}
.button-4{
  background-color: rgb(5, 5, 177);
  border-radius: 0 0 100% 0;
  grid-column: 2/3;
  grid-row: 2/3;
}
.start-button{
  border: rgb(56, 54, 54) solid 0.5vh;
  background-color: rgb(48, 41, 41);
  /* opacity: 80%; */
  color: white;
  font-size: x-large;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0vh, -23.5vh);
}

.touched{
  opacity: 100%;
}

@media all and (min-width: 768px){
  .container{
    /* background-color: rgb(180, 143, 180); */
  }
  .title{
    /* font-size: 3vh; */
  }
  .subtitle{
    /* font-size: 2vh; */
  }
  .start-button{
    /* transform: translate(0vh, -32vh); */
    /* width: 10vh;
    height: 10vh; */
    /* border: rgb(56, 54, 54) solid 1vh; */
    font-size: 3vh;
  }
}

@media all and (min-width: 1280px){
  .container{
    /* background-color: teal; */
  }
  .button{
    /* border: black solid 1vh; */
    /* height: 70vh;
    width: 10vw; */
    /* opacity: 75%; */
  }
  
  .start-button{
    /* transform: translate(12.5vh, -80vh); */
    /* width: 20vh;
    height: 20vh; */
    /* border: rgb(56, 54, 54) solid 1vh; */
    /* font-size: 3.5vh; */
  }

}

